@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D5D8D0;
    img {
        width: 100px;
    }
  }

  .header h1 {
    content-visibility: hidden;
  }

  
  nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    display: inline-block;
    margin-right: 1rem;
  }

  .nav-links a {
    text-decoration: none;
    color: #333;
  }
  
  #main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem 0;
  }
  
  .content {
    flex: 1;
    margin-left: 20px;
  }

  img[src="bilder/Portrett.jpg"] {
    width: 300px;
    border-radius: 50%;
    height: auto;
    display: block;
  }

  img[src="bilder/Vitor.Jpg"] {
    width: 300px;
    height: auto;
    display: block;
  }

  #sidebar {
    width: 200px;
    background-color: #D5D8D0;
    padding: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 2rem);
    position: sticky;
    top: 1rem;
  }
  
  #sidebar ol {
    list-style-type: none;
    padding: 0;
  }

  #sidebar li {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    background-color: #FFF;
  }

  #sidebar a {
    color: #333;
    text-decoration: none;
  }

  #sidebar a:hover {
    text-decoration: underline;
  }

  footer {
    background-color: #D5D8D0;
    padding: 1rem;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    position: relative;
  }

