* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  background-color: #cbe0d6;
}

header img {
  width: 100px;
}

.content {
  padding: 1rem;
}

.navbar {
  background-color: #9ecfb7; 
  padding: 0.5rem 1rem;
}

.navbar-brand img{
  max-width: 150px;
}

.navbar-nav .nav-link {
  color: black; 
  padding: 0.5rem 1rem;
}

.navbar-toggler {
  border: none;
}

.navbar-nav .nav-link:hover {
  background-color: #64b578; 
  color: rgb(0, 0, 0); 
}

.dropdown-menu {
  background-color: #40a359; 
  width: 100%;
  min-width: 100%;
}

.dropdown-item {
  color: rgb(0, 0, 0); 
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #1e8449; 
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block; 
}

.nav-item .dropdown-toggle {
  padding: 0.5rem 1rem;
}

#sidebar {
  width: 200px;
  background-color: #D5D8D0;
  padding: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - 2rem);
  position: sticky;
  top: 1rem;
}

#sidebar ol {
  list-style-type: none;
  padding: 0;
}

#sidebar li {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  background-color: #FFF;
}

#sidebar a {
  color: #333;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

footer {
  background-color: #9ecfb7;
  padding: 1rem;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 50%;
  position: relative;
}

.hero {
  position: relative; 
  height: 300px; 
  overflow: hidden; 
}

.hero img {
  width: 100%; 
  height: auto; 
  max-height: 100%; 
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; 
}

.hero-content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.contact-section {
  background-color: #f8f9fa; 
  padding: 20px; 
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-section h2 {
  margin-bottom: 20px; 
}

.contact-section img {
  width: 130px; 
  height: 130px; 
  border: 3px solid #28a745; 
  transition: transform 0.2s; 
}

.contact-section img:hover {
  transform: scale(1.05); 
}

.contact-section .col-md-2 {
  text-align: center;
}

.contact-section a {
  text-decoration: none; 
  color: #007bff; 
  display: block; 
  margin: 10px 0;
  padding: 5px 0; 
  width: 180px; 
  text-align: center; 
  border-radius: 5px; 
}

.contact-section h5 {
  margin-top: 10px; 
}

.contact-section p {
  margin-top: 5px; 
}

.contact-section a:hover {
  text-decoration: underline; 
}

.contact-section .btn {
  margin-top: 10px; 
}

.rounded-image {
    width: 300;
    height: 300px;
    object-fit: cover; 
    border-radius: 50%; 
    object-position: center top; 
    object-position: center 15%;
}

.custom-button {
  background-color: #28a745; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  border-radius: 5px;
}

.custom-button:hover {
  background-color: #218838;
  color: white; 
  border: none; 
}

.text-center {
  margin-bottom: 20px; 
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.list-group-item {
  background-color: #e9ecef; 
  border: none; 
  border-radius: 0.5rem; /
}

.list-group-item:not(:last-child) {
  margin-bottom: 1rem; 
}

.footer {
  margin-top: 50px; 
}


h1 {
  font-size: 2.5rem; /
}

h2 {
  font-size: 1.75rem; 
}

.btn {
  transition: transform 0.2s ease;
}

.btn:active {
  transform: scale(1.1)
}

@media (max-width: 768px) {
  .contact-section img {
      width: 80px; 
      height: 80px;
  }
  .contact-section {
    flex-direction: column; 
    align-items: center; 
  }

  .contact-section .col-md-2 {
      max-width: 90%; 
  }
  form {
    width: 90%; 
  }
}

form {
  max-width: 600px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f8f9fa; 
}